<div (clickOutside)="onClickedOutside($event)">
  <app-header-page (showMenuEvent)="clickOnMenu($event)" [showMenuBool]=showMenuBool></app-header-page>

  <app-menu class="bg-secondary ejemploFeo" [hidden]="showMenuBool"></app-menu>
</div>

<app-inventory [hidden]="showInventory()"></app-inventory>
<app-sales [hidden]="showSales()" ></app-sales>
<app-buyers [hidden]="showBuyers()" ></app-buyers>
<app-reports [hidden]="showReports()" ></app-reports>
<app-administration [hidden]="showAdministration()" ></app-administration>


